<h2 class="ui center mb-2 aligned icon header">
<div style="margin-bottom: 35px;">Welcome to MessageMe - <em>a complete Chat App</em></div>
<i class="circular red power off icon"></i> <span style="margin-top: 15px; font-size: 17px;">Login in to continue</span> </h2>
  <%= render 'login'%>